<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Data LoRa   </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link href="css/animate.css" rel="stylesheet" />
  <!-- Squad theme CSS -->
    <link href="css/style_home.css" rel="stylesheet">
    <link href="color/default.css" rel="stylesheet">
  </head>

  <body>
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
       <ul class="nav nav-pills nav-stacked" style="background-color:powderblue;">
          <li><a href="/homedata">Back Dashboard</a></li>
       </u>
      </div>
     <table border="1">
       <tr bgcolor = "#aaffff">
	 <td>STT</td>
         <td>Application ID</td>
	 <td>Application Name</td>
	 <td>Device Name</td>
	 <td>DevEUI</td>
         <td>MAC device</td>
         <td>Gateway Name </td>
         <td>RSSI</td>
         <td>Frequency</td>
	 <td>Code Rate</td>
         <td>LoRaSNR</td>
         <td>SpreadFactor</td>
         <td>Bandwidth</td>
         <td>Data</td>
         <td>Temperature</td>
         <td>Humidity</td>
	 <td>CreatedAT</td>

       </tr>

       <% list.rows.forEach(function(d) { %>
         <tr>
           <td><%= d.id %></td>
	   <td><%= d.application_id %></td>
	   <td><%= d.application_name %></td>
	   <td><%= d.device_name %></td>
	   <td><%= d.dev_eui %></td>
           <td><%= d.mac %></td>
	   <td><%= d.gateway_name %></td>
           <td><%= d.rssi %></td>
           <td><%= d.frequency %></td>
           <td><%= d.coderate %></td>
           <td><%= d.lorasnr %></td>
           <td><%= d.spreadfactor %></td>
           <td><%= d.bandwidth %></td>
           <td><%= d.data %></td>
           <td><%= d.temperature %></td>
           <td><%= d.humidity %></td>
   	   <td><%= d.created_at %></td>


         </tr>
     <% }); %>
     </table>
  </body>
</html>
