<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title> Data Raw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/mqtt/mqttws31.js" type="text/javascript"></script>
    <script src="js/js_page/jquery.min.js" type="text/javascript"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" />
    <link href="css/style_home.css" rel="stylesheet">
    <link href="color/default.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="js/mqtt/visualize.js" type="text/javascript">
        $(document).ready(function() {
            MQTTconnect();
        });
    </script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: auto;
        width: auto;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      table {
          height: 50%;
          width: 100%;
        }
        th {
          height: auto;
          width: auto;
        }
    </style>
  </head>
  <body>
<section id="view1">
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
       <ul class="nav navbar-nav" style="background-color:powderblue;">
          <li><a href="/homedata">Back Dashboard</a></li>
          <li><a href="#view1">Section 1</a></li>
          <li><a href="#view2">Section 2</a></li>
       </u>
      </div>
      <div>
      <h5><strong>Visualize Level Signal</strong></h5>
    </div>
    <table>
      <p> </p>
      <tr>
        <th style="width:400px;height:400px; border-style: groove;">
          <div>
            <p><center>Data Realtime</center></p>
          </div>
          <div>
            <ul id='ws' style="font-family: 'Courier New', Courier, monospace;"></ul>
        </div>
        <th style="width:400px;height:100%">
          <div id="chartContainer" style="height: 400px; width: 100%;"></div>
        </th>
        <th style="height:400px; width:400px">
        <div id="map" style="width:100%;height:400px"></div>
        </th>
      </tr>
</table>
<div>
  <p> <p>
</div>
<table>
  <th>
    <div id="chartContainer1" style="height: 300px; width: 100%; border-style: groove;"></div>
  </th>
</table>
</section>
<section id="view2">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-5">
      <hr class="marginbot-50">
    </div>
  </div>
  <h1> <center>Chart Views</center></h1>
<table>
  <tr>
    <th><div id="chartContainer2"  style="height: 200px; width: 100%; border-style: groove;"> </div></th>
    <th><div id="chartContainer3"  style="height: 200px; width: 100%; border-style: groove;"> </div></th>
    <th><div id="chartContainer4" style="height: 200px; width: 100%; border-style: groove;"> </div></th>
  </tr>
  <tr>
    <td><div id="chartContainer5"  style="height: 200px; width: 100%; border-style: groove;"> </div></td>
    <td><div id="chartContainer6"  style="height: 200px; width: 100%; border-style: groove;"> </div></td>
    <td><div id="chartContainer7"  style="height: 200px; width: 100%; border-style: groove;"> </div></td>
  </tr>
</section>

  <section>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
    <table>
      <tr>
        <td><div id="chartContainer8"  style="height: 200px; width: 100%; border-style: groove;"> </div></td>
        <td><div id="chartContainer9"  style="height: 200px; width: 100%; border-style: groove;"> </div></td>
        <td><div id="chartContainer10"  style="height: 200px; width: 100%; border-style: groove;"> </div></td>
      </tr>
    </table>

</table>
</section>
<script type="text/javascript">
window.onload = function () {
var chart1 = new CanvasJS.Chart("chartContainer1", {
  theme:"dark2",
  animationEnabled: true,
  zoomEnabled: true,
  title:{
    text: "Received Signal Strength Indication (RSSI)"
  },
  axisY :{
    includeZero: true,
    title: "RSSI",
    suffix: "dBm",
    minimum : -140,
    maximum : 140
  },
  toolTip: {
    shared: "true"
  },
  legend:{
    cursor:"pointer",
    itemclick : toggleDataSeries
  },
  data: [{
    type: "spline",
    visible: true,
    showInLegend: true,
    yValueFormatString: "##.00 dBm",
    // indexLabelFormatter: function (e){
    //   		return currencyConverter("£", "#,##0.##", e.dataPoint.y);
    name: "Node 1",
    dataPoints: [
     <% listN1.rows.forEach(function(dl) { %>
     <%= "{ y: "+dl.rssi+" }," %>
     <% }); %>
    ]
  },
  {
    type: "spline",
    showInLegend: true,
    visible: true,
    yValueFormatString: "##.00 dBm",
    name: "Node 2",
    dataPoints: [
      <% listN2.rows.forEach(function(dl) { %>
      <%= "{ y: "+dl.rssi+" }," %>
      <% }); %>
    ]
  },
  {
    type: "spline",
    showInLegend: true,
    visible: true,
    yValueFormatString: "##.00 dBm",
    name: "Node 3",
    dataPoints: [
      <% listN3.rows.forEach(function(dl) { %>
      <%= "{ y: "+dl.rssi+" }," %>
      <% }); %>
    ]
  },
  {
    type: "spline",
    showInLegend: true,
    visible: true,
    yValueFormatString: "##.00 dBm",
    name: "Node 4",
    dataPoints: [
      <% listN4.rows.forEach(function(dl) { %>
      <%= "{ y: "+dl.rssi+" }," %>
      <% }); %>
    ]
  },
  {
    type: "spline",
    showInLegend: true,
    yValueFormatString: "##.00 dBm",
    name: "Node 5",
    dataPoints: [
      <% listN5.rows.forEach(function(dl) { %>
      <%= "{ y: "+dl.rssi+" }," %>
      <% }); %>
    ]
  },
  {
    type: "spline",
    showInLegend: true,
    yValueFormatString: "##.00 dBm",
    name: "Node 6",
    dataPoints: [
      <% listN6.rows.forEach(function(dl) { %>
      <%= "{ y: "+dl.rssi+" }," %>
      <% }); %>
    ]
  },
  {
    type: "spline",
    showInLegend: true,
    yValueFormatString: "##.00 dBm",
    name: "Node 7",
    dataPoints: [
      <% listN7.rows.forEach(function(dl) { %>
      <%= "{ y: "+dl.rssi+" }," %>
      <% }); %>
    ]
  },
  {
    type: "spline",
    showInLegend: true,
    yValueFormatString: "##.00 dBm",
    name: "Node 8",
    dataPoints: [
      <% listN8.rows.forEach(function(dl) { %>
      <%= "{ y: "+dl.rssi+" }," %>
      <% }); %>
    ]
  },
  {
    type: "spline",
    showInLegend: true,
    yValueFormatString: "##.00 dBm",
    name: "Node 9",
    dataPoints: [
      <% listN9.rows.forEach(function(dl) { %>
      <%= "{ y: "+dl.rssi+" }," %>
      <% }); %>
    ]
  }]
});
var chart2 = new CanvasJS.Chart("chartContainer2", {
  theme:"light2",
  animationEnabled: true,
  zoomEnabled: true,
  title:{
    text: " "
  },
  axisY :{
    includeZero: false,
    title: "RSSI",
    suffix: " dBm"
  },
  toolTip: {
    shared: "true"
  },
  legend:{
    cursor:"pointer",
    itemclick : toggleDataSeries
  },
  data: [{
    type: "spline",
    visible: true,
    showInLegend: true,
    yValueFormatString: "##.00",
    name: "Node 1",
    dataPoints: [
     <% listN1.rows.forEach(function(dl) { %>
     { label: '<%=  dl.created_at %>', <%= 'y:' +dl.rssi %>},
     <% }); %>
    ]
  }]
});
var chart3 = new CanvasJS.Chart("chartContainer3", {
  theme:"light2",
  animationEnabled: true,
  zoomEnabled: true,
  title:{
    text: " "
  },
  axisY :{
    includeZero: false,
    title: "RSSI",
    suffix: " dBm"
  },
  toolTip: {
    shared: "true"
  },
  legend:{
    cursor:"pointer",
    itemclick : toggleDataSeries
  },
  data: [{
    type: "spline",
    visible: true,
    showInLegend: true,
    yValueFormatString: "##.00 dBm",
    name: "Node 2",
    dataPoints: [
     <% listN2.rows.forEach(function(dl) { %>
     { label: '<%=  dl.created_at %>', <%= 'y:' +dl.rssi %> },
     <% }); %>
    ]
  }]
});
var chart4 = new CanvasJS.Chart("chartContainer4", {
  theme:"light2",
  animationEnabled: true,
  zoomEnabled: true,
  title:{
    text: " "
  },
  axisY :{
    includeZero: false,
    title: "RSSI",
    suffix: "dBm"
  },
  toolTip: {
    shared: "true"
  },
  legend:{
    cursor:"pointer",
    itemclick : toggleDataSeries
  },
  data: [{
    type: "spline",
    visible: true,
    showInLegend: true,
    yValueFormatString: "##.00",
    name: "Node 3",
    dataPoints: [
     <% listN3.rows.forEach(function(dl) { %>
     { label: '<%=  dl.created_at %>', <%= 'y:' +dl.rssi %>},
     <% }); %>
    ]
  }]
});
var chart5 = new CanvasJS.Chart("chartContainer5", {
  theme:"light2",
  animationEnabled: true,
  zoomEnabled: true,
  title:{
    text: " "
  },
  axisY :{
    includeZero: false,
    title: "RSSI",
    suffix: " dBm"
  },
  toolTip: {
    shared: "true"
  },
  legend:{
    cursor:"pointer",
    itemclick : toggleDataSeries
  },
  data: [{
    type: "spline",
    visible: true,
    showInLegend: true,
    yValueFormatString: "##.00 dBm",
    name: "Node 4",
    dataPoints: [
     <% listN4.rows.forEach(function(dl) { %>
     { label: '<%=  dl.created_at %>', <%= 'y:' +dl.rssi %> },
     <% }); %>
    ]
  }]
});
var chart6 = new CanvasJS.Chart("chartContainer6", {
  theme:"light2",
  animationEnabled: true,
  zoomEnabled: true,
  title:{
    text: " "
  },
  axisY :{
    includeZero: false,
    title: "RSSI",
    suffix: " dBm"
  },
  toolTip: {
    shared: "true"
  },
  legend:{
    cursor:"pointer",
    itemclick : toggleDataSeries
  },
  data: [{
    type: "spline",
    visible: true,
    showInLegend: true,
    yValueFormatString: "##.00",
    name: "Node 5",
    dataPoints: [
     <% listN5.rows.forEach(function(dl) { %>
     { label: '<%=  dl.created_at %>', <%= 'y:' +dl.rssi %> },
     <% }); %>
    ]
  }]
});
var chart7 = new CanvasJS.Chart("chartContainer7", {
  theme:"light2",
  animationEnabled: true,
  zoomEnabled: true,
  title:{
    text: " "
  },
  axisY :{
    includeZero: false,
    title: "RSSI",
    suffix: "dBm"
  },
  toolTip: {
    shared: "true"
  },
  legend:{
    cursor:"pointer",
    itemclick : toggleDataSeries
  },
  data: [{
    type: "spline",
    visible: true,
    showInLegend: true,
    yValueFormatString: "##.00 dBm",
    name: "Node 6",
    dataPoints: [
     <% listN6.rows.forEach(function(dl) { %>
     { label: '<%=  dl.created_at %>', <%= 'y:' +dl.rssi %> },
     <% }); %>
    ]
  }]
});
var chart8 = new CanvasJS.Chart("chartContainer8", {
  theme:"light2",
  animationEnabled: true,
  zoomEnabled: true,
  title:{
    text: " "
  },
  axisY :{
    includeZero: false,
    title: "RSSI",
    suffix: " dBm"
  },
  toolTip: {
    shared: "true"
  },
  legend:{
    cursor:"pointer",
    itemclick : toggleDataSeries
  },
  data: [{
    type: "spline",
    visible: true,
    showInLegend: true,
    yValueFormatString: "##.00",
    name: "Node 7",
    dataPoints: [
     <% listN7.rows.forEach(function(dl) { %>
     { label: '<%=  dl.created_at %>', <%= 'y:' +dl.rssi %>},
     <% }); %>
    ]
  }]
});
var chart9 = new CanvasJS.Chart("chartContainer9", {
  theme:"light2",
  animationEnabled: true,
  zoomEnabled: true,
  title:{
    text: " "
  },
  axisY :{
    includeZero: false,
    title: "RSSI",
    suffix: "dBm"
  },
  toolTip: {
    shared: "true"
  },
  legend:{
    cursor:"pointer",
    itemclick : toggleDataSeries
  },
  data: [{
    type: "spline",
    visible: true,
    showInLegend: true,
    yValueFormatString: "##.00 dBm",
    name: "Node 8",
    dataPoints: [
     <% listN8.rows.forEach(function(dl) { %>
     { label: '<%=  dl.created_at %>', <%= 'y:' +dl.rssi %> },
     <% }); %>
    ]
  }]
});
var chart10 = new CanvasJS.Chart("chartContainer10", {
  theme:"light2",
  animationEnabled: true,
  zoomEnabled: true,
  title:{
    text: " "
  },
  axisY :{
    includeZero: false,
    title: "RSSI",
    suffix: "dBm"
  },
  toolTip: {
    shared: "true"
  },
  legend:{
    cursor:"pointer",
    itemclick : toggleDataSeries
  },
  data: [{
    type: "spline",
    visible: true,
    showInLegend: true,
    yValueFormatString: "##.00",
    name: "Node 9",
    dataPoints: [
     <% listN9.rows.forEach(function(dl) { %>
     { label: '<%=  dl.created_at %>', <%= 'y:' +dl.rssi %> },
     <% }); %>
    ]
  }]
});
var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2",
	animationEnabled: true,
  zoomEnabled: true,
	title:{
		text: "RSSI with Node 1"
	},
	legend:{
		cursor: "pointer",
		itemclick: explodePie
	},
	data: [{
		type: "doughnut",
		innerRadius: 90,
		showInLegend: true,
		toolTipContent: "<b>{name}</b>: {y} dBm",
		indexLabel: "{name} : {y} dBm",
		dataPoints: [
			{ y: -1, name: "RSSI" },
			{ y: -0, name: "SNR" }
		]
	}]
});
chart.render();
chart1.render();
chart2.render();
chart3.render();
chart4.render();
chart5.render();
chart6.render();
chart7.render();
chart8.render();
chart9.render();
chart10.render();
function toggleDataSeries(e) {
  if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible ){
    e.dataSeries.visible = false;
  } else {
    e.dataSeries.visible = true;
  }
  chart1.render();
  chart2.render();
  chart3.render();
  chart4.render();
  chart5.render();
  chart6.render();
  chart7.render();
  chart8.render();
  chart9.render();
  chart10.render();
  }
  function explodePie (e) {
	if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
	} else {
		e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
	}
	e.chart.render();
}

}
</script>
        <script>
          function initMap() {
            var myLatLng = {lat: 10.869767, lng: 106.802595};

            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 19,
              center: myLatLng
            });

            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'LoRa Gateway - 10.870111654926301, 106.80377125740053  '
            });
          }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7avnDDMsdPk_w0564_XU1ahECV2Wy-DQ&callback=initMap">
        </script>
  </body>
</html>
